/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF_L 0
#define NAV_L 1

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick-tap-ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <225>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_backslash {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp NON_US_BACKSLASH>;
        };
        combo_v {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp V>;
        };

        combo_n {
            timeout-ms = <50>;
            key-positions = <23 24>;
            bindings = <&kp N>;
        };

        combo_slash {
            timeout-ms = <50>;
            key-positions = <24 25>;
            bindings = <&kp SLASH>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            //  Q          W          E           R               T            Y                U              I           O          P
                &kp Q      &kp W      &kp E       &kp R           &kp T        &kp Y            &kp U          &kp I       &kp O      &kp P
            //  A          S          D           F               G            H                J              K           L          ; (shift :)
                &kp A      &kp S      &kp D       &kp F           &kp G        &kp H            &kp J          &kp K       &kp L      &kp SEMI
            //             Z          X           C                                             M              ,          .
                           &kp Z      &kp X       &kp C                                         &kp M          &kp COMMA  &kp DOT
            //                                    alt       space           alt_gr    space
                                                  &kp LALT  &kp SPACE       &kp RALT  &kp SPACE
            >;
        };

    };
};
